<section class='book-content'>
  <div class='book-content__container'>
  <div class='book-content__image-container'>
    <img src='../../../assets/img-not-found.svg' alt='Тут должна была быть ваша фотография' class='book-content__image'>
  </div>
  <section class='book-content__section book-content__section_value_small'>
    <h2 class='book-content__main-title'>Main heading</h2>
    <p class='book-content__text'>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет оценить значение новых предложений. Равным образом рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных финансовых и административных условий. </p>
    <p class='book-content__text'>Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития.</p>
  </section>
  </div>
  <section  class='book-content__section'>
  <h3 class='book-content__subtitle'>Secondary heading</h3>
    <p class='book-content__text'>Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
    <p class='book-content__text'>Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании модели развития. Таким образом реализация намеченных плановых заданий способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. </p>
  </section>
</section>
