<section class='book-content'>

  <section class='book-content__section'>
    <h2 class='book-content__main-title'>Main heading</h2>
    <p class='book-content__text'>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет оценить значение новых предложений. Равным образом рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных финансовых и административных условий.</p>
    <p class='book-content__text'>Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
  </section>

  <div class='book-content__container book-content__container_page5'>
    <section  class='book-content__section book-content__section_value_small'>
        <p class='book-content__text'>Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
        <p class='book-content__text'>Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании модели развития. Реализация намеченных плановых заданий способствует подготовки и реализации системы обучения кадров. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании модели развития.</p>
    </section>
    <div class='book-content__image-container book-content__image-container_page5'>
      <img src='../../../assets/img-not-found.svg' alt='Тут должна была быть ваша фотография' class='book-content__image'>
    </div>
  </div>
</section>


