.table__container {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .table__container {
    flex-wrap: wrap;
  }
}

.table {
  margin-top: 24px;
  width: 100%;
  min-width: 320px;
}

.table__row {
  cursor: pointer;
  vertical-align: top;
}

.table__description {
  max-width: 480px;
}

.table__column {
  padding: 5px;
}

// New

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.footer-row {
  max-width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
