.table__container {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .table__container {
    flex-wrap: wrap;
  }
}

.table {
  margin-top: 24px;
  width: 100%;
  min-width: 320px;
}

.table__card {
  width: 100%;
}

.table__row {
  cursor: pointer;
  vertical-align: top;
}

.table__description {
  max-width: 480px;
}

.table__column {
  padding: 5px;
}
