<div class='form-container'>
  <h2>Log in</h2>
  <form class='form' [formGroup]='form' (ngSubmit)="authorize()">
    <mat-form-field class='expample-full-width' appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type='text' placeholder="Add your email" formControlName='email'>
      <small></small>
    </mat-form-field>
    <mat-form-field class='example-full-width' appearance="fill">
      <mat-label for=''>Password</mat-label>
      <input matInput type='password' placeholder='Add your password' formControlName='password'>
      <small></small>
    </mat-form-field>
    <mat-error *ngIf='errMessage'>{{ errMessage }}</mat-error>
    <button mat-raised-button color='primary' type='submit' [disabled]='form.invalid || submitted'>Log in</button>
    <p class='capture'>Aren't you registered yet? <a routerLink="/register" class='capture__link'>Register</a></p>
  </form>
</div>
