<section class='book-content'>
  <div class='book-content__container book-content__container_page3'>
  <div class='book-content__image-container book-content__image-container_page3'>
    <img src='../../../assets/img-not-found.svg' alt='Тут должна была быть ваша фотография' class='book-content__image'>
  </div>
  <section class='book-content__section'>
    <h2 class='book-content__main-title'>Main heading</h2>
    <p class='book-content__text'>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет оценить значение новых предложений. Равным образом рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных финансовых и административных условий. </p>
    <p class='book-content__text'>Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития.</p>
  </section>
  </div>
</section>


