<section class='pagination'>
  <ul class='pagination__list'>
    <li class='pagination__list-item'>
      <a class='pagination__link' routerLink='["/book/page1", id = 1]'>1</a>
    </li>
    <li class='pagination__list-item'>
      <a class='pagination__link' routerLink='["/book/page1", id = 2]'>2</a>
    </li>
    <li class='pagination__list-item'>
      <a class='pagination__link' routerLink='["/book/page1", id = 3]'>3</a>
    </li>
    <li class='pagination__list-item'>
      <a class='pagination__link' routerLink='["/book/page1", id = 4]'>4</a>
    </li>
    <li class='pagination__list-item'>
      <a class='pagination__link' routerLink='["/book/page1", id = 5]'>5</a>
    </li>
  </ul>
</section>
