<section class='pagination'>
  <ul class='pagination__list'>
    <li class='pagination__list-item pagination__list-item_active'>
      <a class='pagination__link' routerLink='page1'>1</a>
    </li>
    <li class='pagination__list-item'>
      <a class='pagination__link' routerLink='page2'>2</a>
    </li>
    <li class='pagination__list-item'>
      <a class='pagination__link' routerLink='page3'>3</a>
    </li>
    <li class='pagination__list-item'>
      <a class='pagination__link' routerLink='page4'>4</a>
    </li>
    <li class='pagination__list-item'>
      <a class='pagination__link' routerLink='page5'>5</a>
    </li>
  </ul>
</section>
