<section class='pagination'>
  <div class='pagination__list'>
    <a class='pagination__link' routerLink='page1' routerLinkActive="pagination__link_active">1</a>
    <a class='pagination__link' routerLink='page2' routerLinkActive="pagination__link_active">2</a>
    <a class='pagination__link' routerLink='page3' routerLinkActive="pagination__link_active">3</a>
    <a class='pagination__link' routerLink='page4' routerLinkActive="pagination__link_active">4</a>
    <a class='pagination__link' routerLink='page5' routerLinkActive="pagination__link_active">5</a>
  </div>
</section>
