.pagination {
  height: 184px;
  box-sizing: border-box;
  margin: 27px auto 24px;
  max-width: 843px;
  width: 100%;
}

.pagination__list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.pagination__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.pagination__list-item_active {
  background-color: #8f07cf;
  border-radius: 50%;

  .pagination__link {
    color: white;
  }
}

.pagination__link {
  text-decoration: none;
  color: black;
}
