.book-chart__btn {
  margin-top: 15px;
}

.close-button {
  background-color: white;
  border: 1px solid #111;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -40px;
  cursor: pointer;
}
